.formsPage{
    height: 100vh;
    width: 100vw;
}
.formsPage .ContainerWithSideNav{
    height: 93%;
    width: 100%;
    display: flex;
}
.formsPage .ContainerWithSideNav .formPageContainer{
    height: 100%;
    width: 85%;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 25vh;
    overflow-y: scroll;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer .cardLink{
    height: 20vh;
    width: 80%;
    margin: 10%;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer .card{
    height: 100%;
    width: 100%;
    box-shadow: 0.5px 0.5px 15px 0.5px rgb(173, 173, 173);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer .card .cardtitle{
    height: 50%;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer .card .cardtitle h4{
    text-decoration: none;
    color: #053872;
    font-size: 20px;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer .card .cardDescription{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer .card:hover{
    margin: -3%;
    width: 110%;
    height: 22vh;
}
.formsPage .ContainerWithSideNav .formPageContainer .cardContainer .card .cardimg{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}