.sidenav {
  margin-top: 1%;
  height: 96%;
  width: 15%;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.251);
  transition: width 0.3s ease;
}
.toggle{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
.toggle .toggle-line{
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background-color: black;
    margin-top: 5px;
}

.sidenav.collapsed {
  width: 0;
  overflow: hidden;
}

.sidenav .content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.sidenav .content .sidenavbtn{
  height: 60px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  cursor: pointer;
}
.sidenav .content .sidenavbtn:hover{
  color: rgb(33, 170, 255);
  border-bottom: 1px solid rgb(33, 170, 255);

}


@media screen and (max-width: 768px) {
  .sidenav {
    width: 0;
    overflow: hidden;
}

  .sidenav.collapsed {
    width: 50%;
  }
  .toggle{
    display: block;
}
  .toggle-btn {
    display: block;
  }
}
