.adminHome{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/uet\ gate\ blur.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.adminHome .navContainer{
    position: absolute;
    height: 80%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 20px;
    background-color: rgba(48, 43, 146, 0.7);
    align-items: center;
    justify-content: space-around;
}


.adminHome .navContainer .containerhead{
    height:30%;
    width: 100%;
    display: flex;
}
.adminHome .navContainer .containerhead .logo{
    height: 100%;
    width: 20%;
}
.adminHome .navContainer .containerhead .logo img{
    height: 90%;
    width: auto;
    margin-top: 5%;
    margin-left: 5%;
}
.adminHome .navContainer .containerhead .heading{
    width: 60%;
    height: 100%;
    color: white;
}
.adminHome .navContainer .containerhead .heading h1{
    font-size: 60px;
    color: white;
    font-weight:900;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: overline;
}
.adminHome .navContainer .containerhead .adminInfo{
    height: 100%;
    width: 20%;
    display: flex;
}
.adminHome .navContainer .containerhead .adminInfo .profpic{
    height: 100%;
    width: 30%;
}
.adminHome .navContainer .containerhead .adminInfo .profpic img{
    width: 100%;
    height: auto;
    margin-top: 50%;
    border: 3px solid black;
    border-radius: 50%;
}
.adminHome .navContainer .containerhead .adminInfo .info{
    height: 100%;
    width: 70%;
}
.adminHome .navContainer .containerhead .adminInfo .info .name{
    height: 100%;
    width: 100%;
}
.adminHome .navContainer .containerhead .adminInfo .info .name h3{
    margin: 0%;
    color: white;
}





.adminHome .navContainer .container{
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.adminHome .navContainer .container .navCard{
    width: 85%;
    height: 90%;
    background-color: white;
    border-radius: 49%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adminHome .navContainer .container .navCard:hover{
    box-shadow: -10px 10px 10px 5px rgb(41, 37, 123);
}
.adminHome .navContainer .container .navCard .cardContainer{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 49%;
    border: 5px solid rgba(48, 43, 146, 0.7);
}

@media only screen and (max-width:650px){
    .adminHome .navContainer{
        display: block;
        height: 95%;
    }
}