.adminPage {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../images/purple-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
::placeholder{
    color: white;
}
.searchbar{
    margin-left: 8%;
    margin-top: 7%;
    border:none;
    border-radius: 20px;
    background-color: rgb(201, 200, 200);
    color: white;
    height:6%;
    width:50%;
    font-size: 30px;
}
.cards{
    margin-top:10%;
    display:grid;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
    margin-left: 20px;
    margin-right: 20px;
}
.card1{
    border: 1px solid white;
    border-left: 10px solid #B48AFB;
    margin-right: 3%;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    height: 30vh;
    width:100%;
    text-align: center;
}
.card1:hover{
    box-shadow: -5px 5px 10px 5px #B48AFB;
    border: 1px solid white;
    border-left: 1px solid white;
}
.cardheading{
    margin-top: 10%;
    color: rgb(48, 43, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.desc{
    margin-top: 5%;
    color: rgb(48, 43, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.newformbtn{
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    height: 50px;
    width: 20%;
    left: 40%;
    margin-top: 5%;
    border-radius: 30px;
    border-color: rgba(48, 43, 146, 0.7);
    background-color: rgba(48, 43, 146, 0.7);
    z-index: 1;
    overflow: hidden;
    font-size: 30px;
}
.newformbtn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: white;
    background-color: white;
    color: rgba(48, 43, 146, 0.7);
    border-radius: 30px;
    transform: translateX(-100%);
    transition: all .3s linear;
}
.newformbtn:hover:before{
    transform: translateX(0%);
    z-index: -1;
}
.newformbtn:hover{
    color:rgba(48, 43, 146, 0.7);
    border-color: white;
}

