.navbar{
    position:fixed;
    height: 11%;
    width: 100%;
    background-color: rgba(48, 43, 146, 0.7);
}
.navbar .logo {
    position: fixed;
    left: 2%;
    top: 0px;
    height: 10%;
    width: 5%;
    background-image: url(../images/uet-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar .navbtn{
    margin-top: 1%;
    margin-left: 3%;
    background-color:transparent;
    border:none;
    padding: 15px 32px;
    text-align: center;
    text-decoration:solid;
    font-family:Arial, Helvetica, sans-serif;;
    display: inline-block;
    font-size: 25px;
}
.navbar .profpic {
    position: fixed;
    left:93%;
    top: 1px;
    height: 10%;
    width: 5%;
    background-image: url(../images/pfp-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 150px;
    border: 1px solid rgba(48, 43, 146, 0.7);
}
.navbar .name{
    position: fixed;
    left:83%;
    top: 2%;
    font-size: 22px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;;
}
