.prof{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
}
.prof .uploadpic{
    margin-left: 8%;
    margin-top: 15%;
    position: fixed;
}
.prof .uploadpic .imgg {
    margin-left: 1%;
    margin-top: 0%;
    position: fixed;
    height: 50%;
    width: 25%;
}
.prof .uploadpic .imgg img{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 50%;
}
.prof .uploadpic .upimg{
    margin-left: 7%;
    margin-top: 26%;
    position: fixed;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.prof .profbox{
    margin-top: 20%;
    margin-left: 50%;
    margin-bottom: 2%;
}
.prof .profbox .profbtn{
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    height: 50px;
    width: 50%;
    margin-top: 5%;
    border-radius: 30px;
    border-color: rgba(48, 43, 146, 0.7);
    background-color: rgba(48, 43, 146, 0.7);
    z-index: 1;
    overflow: hidden;
    font-size: 30px;
}
.prof .profbox .profbtn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: white;
    background-color: white;
    color: rgba(48, 43, 146, 0.7);
    border-radius: 30px;
    transform: translateX(-100%);
    transition: all .3s linear;
}
.prof .profbox .profbtn:hover:before{
    transform: translateX(0%);
    z-index: -1;
}
.prof .profbox .profbtn:hover{
    color:rgba(48, 43, 146, 0.7);
    border-color: white;
}