.signupPage {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/uet\ gate\ blur.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.signupPage .logo {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 150px;
    width: 150px;
    background-image: url(../images/uet-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.signupPage .signupcontainer {
    position: absolute;
    height: 80%;
    width: 60%;
    background-color: rgba(48, 43, 146, 0.7);
    box-shadow: -5px 0px 20px 15px rgb(59, 59, 59, 0.7);
    top: 10%;
    left: 30%;
    border-radius: 30px;
}

.signupPage .signupcontainer .form {
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    animation: slideLeft 1s ease-in-out forwards;
    overflow: hidden;
}

.signupPage .signupcontainer .form .login-header {
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.signupPage .signupcontainer .form .login-header h1 {
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    letter-spacing: 5px;
    margin-bottom: 0px;
}

.signupPage .signupcontainer .form .login-input {
    height: auto;
    width: 100%;
}

.signupPage .signupcontainer .form .login-input input {
    height: 50px;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    border: 1px solid white;
    border-left: 15px solid white;
    transition: border-color 0.5s;
    background-color: transparent;
    border-radius: 0 20px 5px 0;
    color: white;
    padding-left: 10px;
}

.signupPage .signupcontainer .form .login-input input::placeholder {
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}



.signupPage .signupcontainer .form .login-input .login-button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    height: 50px;
    width: 50%;
    left: 25%;
    margin-top: 5%;
    border-radius: 30px;
    border-color: #053872;
    background-color: #053872;
    z-index: 1;
    overflow: hidden;
    font-size: 30px;
}

.signupPage .signupcontainer .form .login-input .login-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: white;
    background-color: white;
    color: #053872;
    border-radius: 30px;
    transform: translateX(-100%);
    transition: all .3s linear;
}

.signupPage .signupcontainer .form .login-input .login-button:hover:before {
    transform: translateX(0%);
    z-index: -1;
}

.signupPage .signupcontainer .form .login-input .login-button:hover {
    color: #053872;
    border-color: white;
}

.signupPage .signupcontainer .form .links {
    display: flex;
    width: 100%;
    margin-top: 1%;
    font-size: 20px;
}

.signupPage .signupcontainer .form .login-input .radios h4{
    color: white;
    font-size: 20px;
    margin-left: 15%;
    margin-bottom: 0;
}

.signupPage .signupcontainer .form .login-input .radios label{
    font-size: 20px;
    color: white;
    align-self: flex-start;
    margin: 0%;
    width: 20%;
}
.signupPage .signupcontainer .form .login-input .radios input{
    height: 20px;
    width: 40px;
    margin-left: 20%;
    align-items: flex-start;
}
.signupPage .signupcontainer .form .login-input .radios{
    display: block;
}

@keyframes slideLeft {
    to {
      opacity: 1; /* End with text fully visible */
      transform: translateX(0); /* End with text moved up */
    }
  }